body {
    font-family:"Gideon Roman";
    background-color: #91EB65 ;
    color: #F57325;
}

h1, h2, h3, h4, h5, h6 {
    font-family:Abel;
    font-size: 35pt;
}

header {
    background-color: #50D4B8;
    text-align: center;
}

#hero, footer{
    text-align: center;
    background-color: #6F8EFA;
    padding: 10px;
    background-color: #D4BC50;
}

#hero img{
        width: 250px;
        
}

#bio{
    text-align: center;
}